/*-------------------IMPORTANDO-CONTEÚDO-DE-FORA----------------*/

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Bebas+Neue&family=Oswald:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    /*border: 2px solid rgb(255, 0, 0);*/
}

/*-------------------ROLAGEM-DO-SITE----------------*/

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    overflow-x: hidden;
}

/*-------------------CORPO-DO-SITE----------------*/

body{
    background-color: #0c041f;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*-------------------CABEÇALHO----------------*/

.header{
    /*Tag pai, todas as alterações herdam desta*/
    /*Edição de tag parte do flexbox*/
    list-style: none;
    height: 5vw;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
/*Imagem do topo do navegador*/
img#logoNav{
    height: 5vw;
}

a.btnNav{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgba(167, 167, 167, 0.8);
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a.btnNav:after{
    content: "";
    position: absolute;
    background-color: #156cdf;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a.btnNav:hover{
    color: rgb(255,255,255);
}
a.btnNav:hover:after{
    width: 100%;
}

/*-------------------BOTÃO-DO-LOGIN----------------*/

.menu-login {
    margin-right: 15px;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #156cdf;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: rgb(255,255,255);
}
.menu-login span {
    margin-right:10px;    
    color: rgb(255,255,255);
}
.menu-login:active{
    transform: scale(0.96);
}


/*----------TEXTO-----------*/
.txt-animado{
    font-weight: 200;
    width: 50vw;
    margin-top: -15vw;
    margin-left: 25vw;
    text-align: center;
}

.txt-animado span{
    position: relative;
    font-size: 2vw;
    font-family: monospace;
}

.txt-animado span::before{
    content: "";
    color: rgb(255,255,255);
    animation: palavras 20s infinite;
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 100% ;
    border-left: 2px solid #156cdf;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: rgb(0, 0, 0);
}

@keyframes digita{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
    width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
    width: calc(100% + 18px);
    }
}

@keyframes cursor{
    0%{
    border-left: 2px solid #0c041f;
    }
}

@keyframes palavras{
    0%, 20%{
    content: "Bem vindos a Sapphire Code!";
    }
    21%, 40%{
        content: "Transformando desafios em soluções preciosas!";
    }
    41%, 60%{
        content: "Bem vindos a Sapphire Code!";
    }
    61%, 80%{
        content: "Transformando desafios em soluções preciosas!";
    }
    81%, 100%{
        content: "Bem vindos a Sapphire Code!";
    }
}

/*-----------------IMAGEM HOME-------------------*/

.img-topo{
    height: 40vw;
    background-image: url("img/computador4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10vw;
}

/*-------------------HOME----------------*/

.tituloHome{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 31.5vw;
    width: 35vw;
    margin-top: 5vw;
    padding: 0.4vw;
    font-size: 4.5vw;
    padding-bottom: 2vw;
}
div.home{
    display: flex;
    justify-content: center;
    width: 100%;    
    background-color: none;
}
p.txtHome{
    color: #fff;
    margin: 2vw;
    margin-top: 4vw;
    font-size: 1.7em;    
    text-align: justify;
    font-family: monospace;
}
hr.linhaSeparacaoHome{
    border: none;
    margin-top: 0%;
}
div.separacaoHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(5vw,10vw,20vw);
    background-color: #4274fd;
}
section.home{
    background-color: color-mix(in srgb-linear, color percentage, color percentage);
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#titulo-div-home{
    font-size: 2vw;
    color: #156cdf;
    font-family: monospace;
    text-align: center;
}
/*Estilizando início da página*/
div.imgHome{
    display: inline;
    padding-top: 1vw;
    padding-right: 5vw;
}
div.containerHome
{
    padding: 2vw;
    border: 3px solid #240b5e;
    border-radius: 50px;
}
img#homepage{
    border: none;
    width: 25vw;
    height: 25vw;
}

/*--------------TÍTULO CASES-------------------*/

h3.tituloCases{
    font-size: 30px;
    color: #156cdf;
    text-align: center;
    font-family:monospace;
    margin-top: 3vw;
}
/*------------CASES ANIMADOS------------*/
.container{
    width: 250px;
    height: 250px;
    margin-top: 3vw;
}
.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.front, .back{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
}
.front{
    background-image: url(img/logografica.jpeg);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.back{
    background-color: #4274fd;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 1.3vw;
    font-family: monospace;
    color: rgb(255,255,255);
}
p#cases{
    padding: 1vw;
}

.container-2{
    width: 250px;
    height: 250px;
    margin-top: 3vw;
}
.container-2:hover > .card-2{
    cursor: pointer;
    transform: rotateY(180deg);
}
.card-2{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.front-2, .back-2{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
}
.front-2{
    background-image: url(img/logoelvisburger.jpeg);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.back-2{
    background-color: #4274fd;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 1.3vw;
    font-family: monospace;
    color: rgb(255,255,255);
}
.container-3{
    width: 250px;
    height: 250px;
    margin-top: 3vw;
}
.container-3:hover > .card-3{
    cursor: pointer;
    transform: rotateY(180deg);
}
.card-3{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.front-3, .back-3{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #0cc0df;
}
.front-3{
    background-image: url(img/logo-charge.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
}
.back-3{
    background-color: #4274fd;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 1.3vw;
    font-family: monospace;
    color: rgb(255,255,255);
}

/*--------------CASES WEB SITES-------------------*/

.container-web{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3vw;
}
.card-web{
    width: 25vw;
    height: 15vw;
    padding: 2vw 1vw;
    background-color: #0cc0df;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.card-web:hover {
    transform: translateY(20px);
}
.card-web:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card-web:hover:before{
    opacity: 1;
}
.card-web img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card-web .info{
    position: relative;
    z-index: 3;
    color: rgb(255,255,255);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card-web:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card-web .info a{
    text-decoration: none;
    background-color: #0cc0df;
    padding: 1vw;
    border-radius: 10px ;
    color: rgb(255,255,255);
    font-family: monospace;
    font-size: 1.3vw;
}

/*--------------CASES-------------------*/

div.casesLogo{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5vw;
}
div.imgCasesLogo {
    padding: 0%;   
}
div.casesAppWeb{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5vw;
}
div.imgCasesAppWeb {
    padding: 0%;
}
img#cases{
    justify-content: center;
    border: 0.1vw solid #FCF6DB;
    width: 10%;
    height: 10%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
img#casesappweb{
    justify-content:center;
    width: 20%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid #FCF6DB;
    border-radius: 30px;
}

/*-------------------CLIENTES----------------*/

div.imgClientes
{
    width: 90%;
    margin: 5%;
    text-align: center;
}
img#clientes{
    width: 20%;
    padding: 10px;
}
/*-----------------QUEM-SOMOS--------------*/

.titulo-clientes{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    width: 15vw;
    text-align: center;
}
.titulo-quemsomos{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    width: 24vw;
    text-align: center;
    padding-bottom: 6vw;
}
.separacao{
    display: flex;
    justify-content: center;
}
div.quemSomos{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: none;
    margin-bottom: 5%;
}
section.quemSomos{
    background-color:#190a3b;
    width: 70%;
    border-radius: 40px;
    margin-top: -3%;    
}
#titulo-empresa{
    font-size: 2vw;
    font-family: monospace;
    color: #156cdf;
    text-align: center;
}
/*Estilo do texto referente ao conteúdo de "Quem somos"*/
p.txtQuemSomos{
    color: #fff;
    margin: 2vw;
    text-align: justify; 
    font-size: 1.5vw;
    font-family: monospace;   
}
p.txtQuemSomosValores{
    color: #fff;
    margin: 2vw;
    text-align: center;  
    font-size: 1.5vw;
    font-family: monospace;  
}
hr.linhaSeparacaoQuemSomos{
    border: 0.2vw solid none;
    margin-top: 2%;
}
div.separacaoQuemSomos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(5vw,10vw,20vw);
    background-color: none;
}
/*Estilizando os titulos*/
h3.titulo{
    margin: 4%;
    font-size: 4vw;
    font-family: Antonio;
}
/*Estilizando imagem da Empresa*/
div.imgQuemSomos{
    padding-top: 10%;
    margin-left: 2%;
}
div.imgQuemSomos,
div.containerQuemSomos
{
    padding: 5%;
}
img#quemsomos{
    border: 0.1vw solid #FCF6DB;
    width: 100%;
    height: 40vw;
}

/*-----------------O QUE FAZEMOS--------------*/

#fazemos{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left: 31.5vw;
    width: 35vw;
    margin-top: 5vw;
    padding: 0.4vw;
    font-size: 4.5vw;
}

.oQueFazemos {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
    gap: 4vw;
}
figure, figure img {
    width: 500px;
    height: 650px;    
    border-radius: 40px;    
    margin-top: 15%;
    margin-bottom: 15%;
}
div .img1 {
    display: inline-block; 
}
div .img2 {
    display: inline-block;   
}
div .img3 {
    display: inline-block;   
}

/*-----------------LOCALIZAÇÃO--------------*/

.titulo-localizacao{
    color: #156cdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 34vw;
    text-align: center;
    font-size: 4vw; 
}
div.localMapa{
    margin: 1vw;    
    display: block;
    margin: 0% auto;
    justify-content: center;
    align-items: center;      
}
section.iframeLocal{
    background-color: NONE;
}
iframe{
    border-radius: 30px;
    width: 50%;   
    margin-top: 50px; 
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 4vw;
}

/*-----------------RODAPÉ--------------*/


footer{
    background-color: #000;
    border-top: #13072e solid 0.2vw;
}
div.divImgFooter{
    display: flex;
    justify-content: center;
}
/* Estilização do texto (rodapé) */
.textoFooter {
    color: #FFF;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(90%, 100%, 11 0%);
    margin: 1em;
}
/* Estilização da logo central */
img#imgLogoFooter{
    height: clamp(2em,10em,25em);
    border: none;
    border-radius: none;
}
div.imgRedesSociais{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    padding: 2%;
}
.infoEmpresa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#enderecoFooter{
    display: flex;
    justify-content: center;
}
#faceFooter,
#instaFooter,
#zappFooter
{
    height: 90%;
}
#imgLogoFooter{
    margin-top: 1%;
}

/*-----------------MEDIA-QUERY--------------*/

@media screen and (max-width: 300px){
    footer.finalPag{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    img#imgLogoFooter{
        margin-top: 10%;
        height: 35vw;
    }
    p.textoFooter{
        font-size: clamp(4vw,5vw,7vw);
    }
    div.divImgFooter{
        display: flex;
        justify-content: center;
    }
    div.imgRedesSociais{
        flex-wrap: wrap;
        margin-top: 10%;
    }
    img.redeSocialFooter{
        height: 60%;
        width: 60%;
    }   
}
@media screen and (max-width: 650px) {
    img.imgSlide {
        width: 100%;
        height: 80vw;
    }
}
@media screen and (max-width: 450px) {
    img.imgSlide {
        width: 100%;
        height: 50vw;
    }
    footer{
        height: 1%;
    }
    img#imgLogoFooter{
        margin-bottom: 5%;
        height: 5em;
        border: 0.1vw solid #fff;
    }
    a.linkRedeSocialFooter{
        margin: 1vw;
        height: 1.5em;
    }
    img.redeSocialFooter{
        height: 1vw;
    }
    p.textoFooter{
        font-size: 2vw;
    }
}
@media screen and (min-width: 1500px) {
    .back, .back-2, .back-3{
        font-size: 1vw;
    }
    .titulo-clientes{
        width: 17vw;
    }
    .titulo-quemsomos{
        width: 27vw;
    }
    p.txtHome{
        font-size: 1.5vw;    
    }
}
/*Media query para desktop*/
@media screen and (min-width: 1024px) {
    figure, figure img {
        width: 350px;
        height: 500px;
    }
}
/*Media query para smartphone*/
@media (min-width: 300px) and (max-width: 934px) {
    html, body{
        overflow-x: hidden;
    }
    .container, .container-2, .container-3{
        width: 115px;
        height: 115px;
    }
    .front, .front-2, .front-3{
        background-size: 115px 115px;
    }
    .back, .back-2, .back-3{
        font-size: 2vw;
    }
    figure, figure img {
        width: 120px;
        height: 160px;
        border-radius: 30px;
    }
    #fazemos, .titulo-quemsomos, 
    .titulo-clientes, .tituloHome {
        font-size: 8vw;
        width: 60vw;
    }
    .titulo-localizacao{
        width: 80vw;
        font-size: 8vw;
    }
    .titulo-quemsomos{
        padding-bottom: 25px;
    }
    #fazemos {
        margin-left: 17.5vw;
    }
    .tituloHome{
        margin-left: 17.5vw;
    }
    .txt-animado {
        width: 80vw;
        margin-left: 9vw;
        margin-top: -17vw;
    }
    .txt-animado span {
        font-size: 2.5vw;
    }
    .txt-animado span::after{
        height: 160%;
    }
    iframe {
        width: 80vw;
        height: 50vw;
        margin-left: 9vw;
        margin-top: 25px;
    }
    section.quemSomos {
        width: 85%;
    }
    #titulo-empresa {
        font-size: 3.5vw;
    }
    p.txtQuemSomos, p.txtQuemSomosValores {
        font-size: 2.5vw;
    }
    img#clientes{
        width: 30vw;
    }
    h3.tituloCases {
        font-size: 4vw;
    }
    img#homepage {
        width: 30vw;
        height: 30vw;
        margin-top: 4vw;
    }
    div.containerHome {
        width: 70vw;
        height: 32vw;
    }
    p.txtHome {
        font-size: 2.7vw;
    }
    section.home {
        width: 95%;
    }
    #titulo-div-home {
        font-size: 2.7vw;
    }
    .btnNav{
        display: none;
    }
}